<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <script defer type="text/javascript" src="/static/main.js"></script>
  </head>
  <body>
    <div
      data-phx-main="true"
      data-phx-session="session"
      data-phx-static="static"
      id="phx-FxSmBHsfHn_3LQAD"
      class="phx-connected"
      data-phx-root-id="phx-FxSmBHsfHn_3LQAD"
    >
      <div>Hi {{ name }}. My age is {{ age }}</div>
      <p>{{ "This is static" }}</p>
      <p>The current count is {{ count }}.</p>
      <button
        phx-click="increment"
        phx-value-myvar1="val1"
        phx-value-myvar2="val2"
        phx-value-myvar3="2"
        phx-value-myvar4="true"
      >
        +
      </button>
    </div>
  </body>
</html>
