<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form
      method="post"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      id="newtodo"
      phx-submit="add_todo"
      spellcheck="false"
      url="#"
    >
      <i>
        <input
          autofocus
          class="new-todo"
          id="newtodo_text"
          name="title"
          placeholder="What needs to be done?"
          type="text"
        />
      </i>
      <button class="hidden" type="submit">submit</button>
    </form>
  </header>

  {% if filter == "all" %}
    {% set visible_todos = todos %}
  {% elif filter == "active" %}
    {% set visible_todos = todos | filter(attribute="completed", value=false) %}
  {% elif filter == "completed" %}
    {% set visible_todos = todos | filter(attribute="completed", value=true) %}
  {% endif %}

  {% if todos %}
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      {% for todo in visible_todos %}
      <li class="{% if todo.completed %}completed{% endif %}{% if todo.editing %} editing{% endif %}">
        <form phx-submit="edit_todo" method="post" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" url="#">
          <div class="view">
            <input
              phx-click="toggle_todo"
              phx-value-id="{{ todo.id }}"
              class="toggle"
              type="checkbox"
              {% if todo.completed -%} checked {%- endif %}
            />
            <label phx-click="toggle_edit_todo" phx-value-id="{{ todo.id }}">
              {{ todo.title }}
            </label>
            <button phx-click="remove_todo" phx-value-id="{{ todo.id }}" type="button" class="destroy"></button>
          </div>
          <input type="hidden" name="id" value="{{ todo.id }}" />
          <input class="edit" name="title" value="{{ todo.title }}" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </section>
  <footer class="footer">
    {% set remaining = todos | filter(attribute="completed", value=false) | length %}
    <span class="todo-count">
      <strong>{{ remaining }}</strong> item left
    </span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a
          phx-click="set_filter"
          phx-value-filter="all"
          {% if filter == "all" %}class="selected"{% endif %}
          href="#/"
        >
          All
        </a>
      </li>
      <li>
        <a
          phx-click="set_filter"
          phx-value-filter="active"
          {% if filter == "active" %}class="selected"{% endif %}
          href="#/active"
        >
          Active
        </a>
      </li>
      <li>
        <a
          phx-click="set_filter"
          phx-value-filter="completed"
          {% if filter == "completed" %}class="selected"{% endif %}
          href="#/completed"
        >
          Completed
        </a>
      </li>
    </ul>
    {% if remaining > 0 %}
    <button phx-click="clear_completed_todos" class="clear-completed">Clear completed</button>
    {% endif %}
  </footer>
  {% endif %}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/tqwewe">Ari Seyhun</a></p>
  <p>Part of <a href="https://github.com/lunatic-solutions/submillisecond-live-view">Submillisecond Live View</a></p>
</footer>
